<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Amaze UI Admin help Examples</title>
  <meta name="description" content="这是一个 help 页面">
  <meta name="keywords" content="help">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/css/admin.css">
  <script> var token = '{token}'; </script>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->


    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf">
          <strong class="am-text-primary am-text-lg">帮助页面</strong> / <small>Info</small>
        </div>
      </div>

      <hr/>

      <div class="am-g">
        <div class="am-u-sm-12 am-u-sm-centered">
            <h1>PKBook</h1>
            <p>静态博客发布程序: 使用 <a href="https://github.com/naka1205/phpkoa">PHPKoa</a> 开发，基于 <code>Markdown</code> 文档发布的轻量级博客管理应用。</p>
            <h1>主要特性</h1>
            <ul>
              <li>文档管理：采用 <code>Amaze UI</code> 搭建可视化后台管理</li>
              <li>文档编辑：采用 <code>editor.md</code> 开源 <code>Markdown</code> 编辑器</li>
              <li>用户评论：支持 <code>GitHub Issues</code> 的评论系统</li>
              <li>图片上传：支持 <code>qiniu</code> 图片上传</li>
              <li>博客主题：支持主题定制</li>
              <li>静态发布：后台管理快速发布 <code>html</code> 静态文件</li>
              <li>文章搜素：支持全文关键词索引</li>
            </ul>
        </div>

      </div>
    </div>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="/js/amazeui.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
