    <div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="loading-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">正在载入...</div>
            <div class="am-modal-bd">
            <span class="am-icon-spinner am-icon-spin"></span>
            </div>
        </div>
    </div>
  
  <!--[if lt IE 9]>
  <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
  <script src="/js/amazeui.ie8polyfill.min.js"></script>
  <![endif]-->
  
  <!--[if (gte IE 9)|!(IE)]><!-->
  <script src="/js/jquery.min.js"></script>
  <!--<![endif]-->
  <script src="/js/amazeui.min.js"></script>
  <script src="/js/amazeui.datetimepicker.min.js"></script>
  <script src="/js/amazeui.datetimepicker.zh-CN.js"></script>
  <script src="/js/editormd.min.js"></script>
  <script src="/js/main.js"></script>
  </body>