<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Amaze UI Admin help Examples</title>
  <meta name="description" content="这是一个日志页面">
  <meta name="keywords" content="logs">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/css/amazeui.tagsinput.css"/>
  <link rel="stylesheet" href="/css/amazeui.datetimepicker.css"/>
  <link rel="stylesheet" href="/css/editormd.min.css" />
  <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

    <div class="admin-content-body">
      
        <div class="am-cf am-padding am-padding-bottom-0">
          <div class="am-fl am-cf">
            <strong class="am-text-primary am-text-lg">编辑</strong> /
            <small>edit</small>
          </div>
        </div>

        <hr>
        <form class="am-form am-form-inline"  id="edit-form" >
          <div class="am-tabs am-margin" data-am-tabs>
            <ul class="am-tabs-nav am-nav am-nav-tabs">
              <li class="am-active"><a href="#tab1">基本信息</a></li>
              <li><a href="#tab2">详细描述</a></li>
              <li><a href="#tab3">其他选项</a></li>
            </ul>

            <div class="am-tabs-bd">
              <div class="am-tab-panel am-fade am-in am-active" id="tab1">

                <div class="am-g am-margin-top">
                  <div class="am-u-sm-4 am-u-md-2 am-text-right">文章分类</div>
                  <div class="am-u-sm-8 am-u-md-10">
                    <select name="categories" data-am-selected="{btnSize: 'sm'}">
                      <option value="option1">选项一...</option>
                      <option value="option2">选项二.....</option>
                      <option value="option3">选项三........</option>
                      <option value="option3">选项四........</option>
                    </select>
                  </div>
                </div>

                <div class="am-g am-margin-top">
                  <div class="am-u-sm-4 am-u-md-2 am-text-right">文章标签</div>
                  <div class="am-u-sm-8 am-u-md-10">
                    <input id="tags" name="tags" type="text" class="am-input-sm" value="{posts->tags}" data-role="tagsinput" />
                  </div>
                </div>

                <div class="am-g am-margin-top">
                  <div class="am-u-sm-4 am-u-md-2 am-text-right">文件名称</div>
                  <div class="am-u-sm-8 am-u-md-2 am-u-end col-end">
                    <input id="filename" name="filename" type="text" class="am-input-sm" value="{posts->filename}" />
                  </div>
                </div>

                <div class="am-g am-margin-top">
                  <div class="am-u-sm-4 am-u-md-2 am-text-right">发布日期</div>
                  <div class="am-u-sm-8 am-u-md-10">
                    
                      <div class="am-form-group am-form-icon">
                        <i class="am-icon-calendar"></i>
                        <input type="text" name="date" class="am-form-field am-input-sm" value="{posts->date}" id="datetimepicker">
                      </div>

                  </div>
                </div>

              </div>

              <div class="am-tab-panel am-fade" id="tab2">
                  <div class="am-g am-margin-top">
                      <input type="text" name="title" class="am-input-sm" value="{posts->title}" placeholder="输入标题">
                  </div>

                  <div class="am-g am-margin-top-sm">
                    <div class="am-u-sm-12" id="editormd">
                      <textarea style="display:none;" name="content">{posts->content}</textarea>
                    </div>
                  </div>

              </div>

              <div class="am-tab-panel am-fade" id="tab3">
                  <div class="am-g am-margin-top-sm">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">布局名称</div>
                    <div class="am-u-sm-8 am-u-md-2 am-u-end col-end">
                      <input type="text" class="am-input-sm">
                    </div>
                  </div>

                  <div class="am-g am-margin-top-sm">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">页面摘要</div>
                    <div class="am-u-sm-8 am-u-md-2 am-u-end col-end">
                      <input type="text" class="am-input-sm">
                    </div>
                  </div>

                  <div class="am-g am-margin-top-sm">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">外部链接</div>
                    <div class="am-u-sm-8 am-u-md-2 am-u-end">
                        <input type="text" class="am-input-sm">
                    </div>
                  </div>
                
              </div>

            </div>
          </div>

          <div class="am-margin">
            <button type="submit" class="am-btn am-btn-primary am-btn-xs" data-am-modal="{target: '#loading-modal'}">提交保存</button>
            <button type="button" class="am-btn am-btn-primary am-btn-xs">放弃保存</button>
          </div>
        </form>
    </div>

    <div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="loading-modal">
      <div class="am-modal-dialog">
        <div class="am-modal-hd">正在载入...</div>
        <div class="am-modal-bd">
          <span class="am-icon-spinner am-icon-spin"></span>
        </div>
      </div>
    </div>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="/js/amazeui.min.js"></script>
<script src="/js/amazeui.tagsinput.min.js"></script>
<script src="/js/amazeui.datetimepicker.min.js"></script>
<script src="/js/amazeui.datetimepicker.zh-CN.js"></script>
<script src="/js/editormd.min.js"></script>
<script src="/js/main.js"></script>
</body>
<script>
var _id = '{posts->_id}';
var id = '{posts->id}';
// $('#tags').val()
// "Amsterdam,Washington,Sydney,Beijing,Cairo"

// $('#tags').tagsinput('items')
// ["Amsterdam", "Washington", "Sydney", "Beijing", "Cairo"]

$(function() {
  $('#datetimepicker').datetimepicker({
    language:  'zh-CN',
    format: 'yyyy-mm-dd hh:ii:ss'
  });
  var editor = editormd("editormd", {
      width   : "100%",
      height  : 600,
      path : "/js/editormd/"
  });
  var $form = $('#edit-form');
  var $modal = $('#loading-modal');

  $form.validator({
    submit: function() {
      var formValidity = this.isFormValid();
      if( formValidity == false ){
          $modal.modal('close');
          return false;
      }
      var data = $form.serialize();

      $.ajax({
        type: "POST",
        url: "/ajax/posts/"+_id,
        dataType: "json",
        data:{data:data},
        beforeSend:function(){

        },
        success: function(res){
            if ( res.code == 200 && res.data != '') {
                // location.reload()
            }else{
                // $modal.modal('close');
            }
        }
      });
      
      return false;
    }
  });
});

</script>
</html>
